#main-container
{
    width: 750px; height: 350px; background-color: aquamarine;
}

.square-box
{
    width: 150px; height: 150px; background-color: blue; margin-right: 40px; border: 2px solid black;
}

.green
{
    background-color: #008000; margin-left: 90px;
}

.red
{
    background-color: red;
}

.pink
{
    background-color: #ee82ee;
}